/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////Header/////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

header {
    /*-----background head-----*/
    text-align: center;
    font-weight: bold;
    /*-----stick to top et sroll-----*/
    position: sticky;
    top: 0;
    padding: 10px 16px;
    /*--fix img passant au dessus du header--*/
    z-index: 1;
}

header ul {
    /*----aligne la liste horizontalement sans puce-----*/
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
}

header ul li {
    /*------ecart entre éléments------*/
    margin-inline: 1vw;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////Footer/////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

footer {
    /*-------barre footer------*/
    background-color: rgb(10, 10, 10);
    padding: 1vw;
    text-align: center;
    font-weight: bold;
    /*----stuck en bas-------*/
    position: relative;
    bottom: 0;
    width: 100%;
}

footer ul {
    /*----aligne la liste horizontalement sans puce-----*/
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

footer ul li {
    /*------ecart entre éléments------*/
    margin-inline: 1vw;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////body//////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.gradient-custom {
    /* fallback for old browsers */
    background: #bdb2ff;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(#a0c4ff,#bdb2ff,#ffc6ff,#db98c2)
  }

h2 {
    text-shadow: 3px 3px #000000;
    text-align:left;
    margin-left: 7.5em;
    margin-top: 30000em;
}

.blackbox {
    background-color: #0000009f;
    margin-left: 1.5em;
    margin-right: 1.5em;
    display: flex;
    flex-direction:row;
    padding-top: 4em;
    padding-bottom: 6em;
    justify-content:space-evenly;
}

.content {
    margin-top: 6em;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////Intro//////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.PFP {
    height: 350px;
    width: 250px;
    margin-top: 1em;
    margin-left: auto;
    margin-right: 9em;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////CV////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.CV {
    color: #B9B4FF;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////XP////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.titlexp {
    font-weight: bold;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////projet//////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.projetlink {
    font-weight: bold;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////Passion/////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.F1 {
    height: 200px;
    width: 300px;
}

.gojo {
    height: 200px;
    width: 300px;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////XP////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.xplink {
    color: #db98c2;
}

.LOGOGBM {
    margin-top: 5em;
    margin-left: 27.5em;
    margin-right: auto;
}

.textexp {
    color: #000000;
    font-weight: bold;
    text-shadow: 0px 0px 0px #FFFFFF;
    margin-left: 2em;
}

.textexp a {
    color: #000000;
}

.pdfembed {
    margin-left: 4em;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////Veille//////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.blackboxveille {
    background-color: #0000009f;
    margin-left: 1.5em;
    margin-right: 1.5em;
    display:flex;
    flex-direction:column;
    padding-top: 4em;
    padding-bottom: 6em;
    justify-content:space-evenly;
}

.textveille {
    text-indent: 65px;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////Projet//////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.projetlink {
    color: #db98c2;
}

.texteprojet {
    color: #000000;
    font-weight: bold;
    text-shadow: 0px 0px 0px #FFFFFF;
    margin-left: 2em;
}